{% extends 'bootstrap/base.html' %}

{% block title %}Termostato{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'proyecto.ico') }}"
type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'proyecto.ico') }}"
type="image/x-icon">
<!-- WT-23: CSS modular -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bateria.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/conexion.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/ayuda.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tendencia.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/diferencia.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/historial.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Termostato</a>
        </div>
        <ul class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Inicio</a></li>
            </ul>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{%endblock%}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
{% endblock %}
